@model Character
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Character</h1>

<form method="post">

    <div asp-validation-summary="All" class="text-danger">

    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<CharacterStatus>()">
            <option selected="selected" value="">Select Status...</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Class"></label>
        <select asp-for="Class" asp-items="Html.GetEnumSelectList<ClassName>()">
            <option selected="selected" value="">Select Class...</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Specialization"></label>
        <select asp-for="Specialization" asp-items="Html.GetEnumSelectList<Spec>()">
            <option selected="selected" value="">Select Spec...</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ItemLevel"></label>
        <input asp-for="ItemLevel" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

</form>

